<footer class="footer">
  <a href="#"><img class="footer__arrow" src="./assets/images/ico-arrow.svg" alt=""/></a>

    <div class="footer__navigator">
        <nav class="footer__menu">
            <ul>
                <li><a href="#"></a>articles</li>
                <li><a href="#"></a>books</li>
                <li><a href="#"></a>events</li>
                <li><a href="#"></a>reasons</li>
                <li><a href="#"></a>tips</li>
            </ul>
        </nav>

        <nav class="footer__social">
            <ul>
                <li><a href="#"></a>twitter</li>
                 <li><a href="#"></a>instagram</li>
                <li><a href="#"></a>mastodon.social</li>
            </ul>
        </nav>
        <div class="footer__end">
            <p class="footer__copy">&copy;2017</p>
            <p class="footer__small">we<span class="footer__small--heart">&#10084</span>components</p>
        </div>
</div>
</footer>
