<section class="reasons">
  <h2 class="reasons__title">3 reasons to purchase</h2>
  <span class="reasons__grid">
    <div class="reasons__1">
      <h3 class="reasons__1--title">Ut sed metus</h3>
      <p class="reasons__1--text">Lorem ipsum dolor sit amet, consecteur.</p>
    </div>
    <div class="reasons__2">
      <h3 class="reasons__2--title">Curabitur ac erat</h3>
      <p class="reasons__2--text">Mauris mattis urna quis lorem molestie.</p>
    </div>
    <div class="reasons__3">
      <h3 class="reasons__3--title">Morbi dictum</h3>
      <p class="reasons__3--text">Aliquam in dolor et dolor tincidunt.</p>
    </div>
  </span>
  <a class="reasons__link" href="https://13reasonswhy.info" alt="link 13 reasons why" target="blank">More reasons</a>
</section>
