.footer {
  // border: solid 5px green;
  background: #304268;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $FontRegular;
  color: $ColorLight;
  padding-bottom: 4.5rem;

  &__arrow {
    background: $ColorLight;
    padding: 0.9rem 1.2rem;
    border-radius: 50%;
    transform: translateY(-50%);
    line-height: 0rem;
    animation-name: scale;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  @keyframes scale {
    0% {
      transform: translateY(-50%) scale(0);
    }

    50% {
      transform: translateY(-50%) scale(1.5);
    }

    100% {
      transform: translateY(-50%) scale(0);
    }
  }

  &__menu {
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    padding-top: 1.45rem;
  }

  &__social {
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    padding-top: 3rem;
  }

  &__end {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.4rem;
    padding-top: 3rem;
  }

  &__small--heart {
    color: $ColorButton;
  }
}

@media all and (min-width: 768px) {
  .footer {
    &__navigator {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100vw;
      padding-bottom: 4.5rem;
    }

    &__menu {
      padding-top: 0;
      order: 2;
      text-align: left;
      min-width: 21rem;
    }

    &__social {
      padding-top: 0;
      order: 3;
      text-align: left;
      min-width: 21rem;
    }

    &__end {
      padding-top: 0;
      order: 1;
      text-align: left;
      min-width: 21rem;
    }
  }
}

@media all and (min-width: 1024px) {
  .footer {
    &__navigator {
      justify-content: center;
    }
  }
}
