.header {
  display: flex;
  flex-direction: column;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  height: 100vh;

  &__menu {
    background: #0271bc;
    position: fixed;
    padding: 14px;
  }
}

.header__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &--title {
    color: white;
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
  }

  &--small {
    color: white;
    font-size: 16px;
  }

  &--arrow {
    background: white;
    padding: 16px 13px;
    border-radius: 50%;
  }
}
