.header {
  border: solid 5px red;
  display: flex;
  flex-direction: column;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;

  &__menu {
    border: solid 3px green;
    background: #0271bc;
    position: fixed;
    padding: 14px;
  }
}

.header__info {
  border: solid 3px blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-family: "Roboto Slab";

  &--title {
    color: white;
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
  }

  &--small {
    color: white;
    font-size: 16px;
  }

  &--arrow {
    background: white;
    padding: 16px 13px;
    border-radius: 50%;
  }
}
