.header {
  display: flex;
  flex-direction: column;

  &__menu {
    background: #0271bc;
    position: fixed;
    padding: 14px;
  }

  &__image {
    height: 100vh;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -174px;

  &__title {
    color: white;
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
  }

  &__small {
    color: white;
    font-size: 16px;
  }

  &__arrow {
    background: white;
    padding: 16px 13px;
    border-radius: 50%;
  }
}
