.reasons {
  height: auto;
  background: #eff9ff;
  padding: 0 1.5rem 6rem 1.5rem;

  &__title {
    text-align: center;
    font-family: $FontStrong;
    font-size: 2.4rem;
    padding-top: 3rem;
  }

  &__grid {
    margin: 0 auto;
    padding-top: 4.5rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "reasons1" "reasons2"
      "reasons3";
    grid-gap: 4.5rem;
    max-width: 18rem;
  }

  &__1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: reasons1;

    &--title {
      font-family: $FontStrong;
      font-size: 1.8rem;
    }

    &--text {
      font-display: $FontRegular;
      font-size: 1.8rem;
    }
  }
  &__2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: reasons2;

    &--title {
      font-family: $FontStrong;
      font-size: 1.8rem;
    }

    &--text {
      font-display: $FontRegular;
      font-size: 1.8rem;
    }
  }
  &__3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: reasons3;

    &--title {
      font-family: $FontStrong;
      font-size: 1.8rem;
    }

    &--text {
      font-display: $FontRegular;
      font-size: 1.8rem;
    }
  }
  &__link {
    border: solid 0.2rem $ColorButton;
    background: $ColorButton;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: $FontRegular;
    font-size: 2rem;
    color: $ColorLight;
    width: 18.5rem;
    height: 4.5rem;
    border-radius: 2.25rem;
    margin: 4.5rem auto 0rem auto;
    transition: color ease 1s, background ease 1.5s;

    &:hover {
      color: $ColorButton;
      background: $ColorLight;
    }
  }
}

@media all and (min-width: 768px) {
  .reasons {
    &__title {
      font-size: 2.6rem;
    }

    &__grid {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      max-width: none;
    }

    &__1 {
      &--title {
        font-size: 2.4rem;
      }

      &--text {
        font-size: 2rem;
      }
    }

    &__2 {
      &--title {
        font-size: 2.4rem;
      }

      &--text {
        font-size: 2rem;
      }
    }

    &__3 {
      &--title {
        font-size: 2.4rem;
      }

      &--text {
        font-size: 2rem;
      }
    }

    &__link {
      width: 21rem;
      margin: 6rem auto 0 auto;
    }
  }
}

@media all and (min-width: 1024px) {
  .reasons {
    &__title {
      font-size: 3.2rem;
    }

    &__link {
      width: 25.5rem;
      margin: 6rem auto 0 auto;
    }
  }
}
