.special {
  display: none;
}

@media all and (min-width: 300px) {
  .special {
    display: block;
    &__text {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
